/* Polices ************************************************************/
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
  src: url(../fonts/Raleway/Raleway-Bold.ttf);
  src: url(../fonts/Raleway/Raleway-Light.ttf);
  src: url(../fonts/Raleway/Raleway-Semibold.ttf);
  src: url(../fonts/Raleway/Raleway-Thin.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
/* Couleurs ************************************************************/
/* Global ************************************************************/
* {
  box-sizing: border-box;
}
html {
  font-family: Raleway, sans-serif;
}
body {
  background-color: #EFE8DF;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.hr-center {
  margin: 40px auto;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
h1 {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 25px;
  white-space: pre-wrap;
}
h2 {
  margin: 0;
}
p {
  font-family: "Raleway Medium", sans-serif;
}
input {
  font-family: "Open Sans Semibold", sans-serif;
}
.input {
  border-radius: 5px;
  height: 45px;
  width: 49%;
  margin: 10px 0;
  font-size: 18px;
  color: #9E9E9E;
  border: solid 2px #9E9E9E;
  text-indent: 10px;
}
.bouton {
  transition: 0.5s ease;
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #E62651;
  border: solid 2px #AC1738;
  width: 100%;
  margin: 10px 0;
  min-height: 45px;
}
.bouton:hover {
  background-color: white;
  color: #E62651;
}
.btn-deco {
  border-radius: 5px;
  height: 45px;
  max-height: 45px;
}
.logo-home {
  width: 275px;
  margin: 25px auto 20px auto;
}
.logo-mmi {
  width: 60px;
  margin-top: 15px;
}
.message {
  margin: -15px 0 10px 0 !important;
  font-weight: bold;
  color: #AC1738;
}
/* MENU ************************************************************/
#menu {
  background-color: #E62651;
  width: 320px;
  min-width: 320px;
  padding: 30px;
  text-align: center;
  color: white;
  height: 100vh;
  position: fixed;
}
#menu .icones {
  width: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
#menu i:hover {
  color: #B6DEDE;
  transition: 0.3s ease;
}
#menu .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #AC1738;
}
#menu h2 {
  margin: 10px 0;
  font-size: 20px;
}
#menu hr {
  width: 125px;
  border: 1px solid white;
  margin: 10px auto;
}
#menu a {
  color: white;
}
#menu .contact {
  margin: 15px auto 0 auto;
  width: 200px;
}
#menu p {
  margin-top: 15px;
  font-size: 10px;
}
.fa-bell {
  position: relative;
}
#notification {
  font-size: 14px;
  font-family: "Open Sans Semibold", sans-serif;
  color: #AC1738;
  padding: 2.5px;
  top: -15px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}
.pages-menu {
  text-transform: uppercase;
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 18px;
  display: block;
  padding: 15px 20px;
  transition: 1s ease;
  letter-spacing: 2px;
}
.pages-menu:hover {
  background-color: #AC1738;
}
.contact {
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}
/* HEADER ************************************************************/
header {
  padding: 15px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #F2EEE9;
  -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
}
#hamburger {
  height: 60px;
  width: 60px;
  display: none;
}
.logo-dom {
  width: 200px;
  margin-left: 60px;
}
#liens-externes {
  margin: 55px 60px 0 0;
  width: 520px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.externe {
  -webkit-background-size: contain;
  background-size: contain;
  display: block;
  width: 60px;
  height: 60px;
  transition: 0.5s ease;
}
.externe:hover {
  background-color: #B6DEDE;
}
a[href="https://mail-edu.univ-fcomte.fr"] {
  background-image: url(../medias/interface/icones/mail.png);
}
a[href="https://absences.pu-pm.univ-fcomte.fr"] {
  background-image: url(../medias/interface/icones/absent.png);
}
a[href="http://moodle.univ-fcomte.fr"] {
  background-image: url(../medias/interface/icones/moodle.png);
}
a[href="https://sedna.univ-fcomte.fr/direct/myplanning.jsp"] {
  background-image: url(../medias/interface/icones/calendrier.png);
}
/* PAGE CONNECTE ************************************************************/
#contenu {
  margin-left: 320px;
}
main {
  padding: 20px 60px;
}
main h1 {
  margin-left: 20px;
  font-size: 35px;
  color: #1B2E59;
}
main hr {
  border: 1px solid #1B2E59;
  width: 265px;
  margin: 0 0 0 20px;
}
.fa-plus-square {
  color: #E62651;
  transition: 0.5s ease;
  transform: scale(0.6);
}
.fa-plus-square:hover {
  transform: scale(0.7);
  color: #AC1738;
}
/* ACTUALITES ************************************************************/
.button-plus {
  position: absolute;
  right: 80px;
  top: 170px;
}
.liste-actu {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.actu {
  position: relative;
  text-transform: uppercase;
  margin: 20px;
  transition: 0.5s ease;
}
.actu span {
  font-family: "Raleway Medium", sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  background-color: #E62651;
  z-index: 1;
  padding-top: 5px;
}
.actu h2 {
  color: #B6DEDE;
  width: 100%;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #1B2E59;
  padding-left: 50px;
  font-size: 16px;
  padding-top: 12px;
}
.principale {
  width: 520px;
  height: 240px;
}
.principale img {
  width: 100%;
  height: 100%;
  border: 4px solid #E62651;
}
.principale:hover {
  -webkit-box-shadow: 0 0 10px 1px #E62651;
  box-shadow: 0 0 10px 1px #E62651;
}
.secondaire {
  width: 240px;
  height: 240px;
}
.secondaire img {
  width: 100%;
  height: 100%;
  border: 4px solid #1B2E59;
}
.secondaire:hover {
  -webkit-box-shadow: 0 0 10px 1px #1B2E59;
  box-shadow: 0 0 10px 1px #1B2E59;
}
/* AJOUT-ACTUALITES ************************************************************/
.explications {
  border: 2px solid #B6DEDE;
  background-color: #F2EEE9;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
}
#ajout-actualite {
  display: flex;
  justify-content: space-between;
}
#ajout-actualite * {
  margin: 10px;
}
#ajout-actualite > div {
  width: 100%;
  margin: 0 10px;
}
#ajout-actualite h3 {
  color: #E62651;
  font-size: 18px;
}
#ajout-actualite input {
  height: 45px;
}
#ajout-actualite .ajout {
  font-size: 18px;
  font-family: "Open Sans Semibold", sans-serif;
  border-radius: 5px;
  border: 2px solid #9E9E9E;
  width: 100%;
  padding: 5px 0 5px 10px;
}
#ajout-actualite .boutons-radio {
  width: 100%;
  margin: 0 10px;
  display: flex;
  font-family: "Raleway Medium", sans-serif;
}
#ajout-actualite input[type="radio"] {
  display: none;
}
#ajout-actualite .label {
  text-transform: uppercase;
  color: #E62651;
  font-size: 18px;
  padding-top: 12px;
  text-align: center;
  border: 2px solid #E62651;
  border-radius: 5px;
  width: 140px;
  height: 45px;
}
#ajout-actualite .bouton {
  height: 45px;
  padding: 0;
}
/* ACTUALITE-TYPE ************************************************************/
.fond-article {
  background-color: #E6DACB;
  padding: 20px;
  margin: 20px 10px;
}
.colonne-gauche {
  width: 70%;
}
.colonne-droite {
  width: 30%;
}
.infos-article {
  text-align: center;
}
.infos {
  max-height: 45px;
  margin: 10px 0;
  font-size: 18px;
  padding: 10px;
  background-color: #1B2E59;
  color: white;
  text-align: center;
  font-family: "Open Sans Semibold", sans-serif;
}
.image-article {
  width: 100%;
  margin: 0;
  border: 2px solid #1B2E59;
}
.texte-article {
  padding: 10px;
  line-height: 25px;
  background-color: #F2EEE9;
  border: 2px solid #1B2E59;
}
.photo-article {
  border-radius: 50%;
  width: 75%;
  border: 2px solid #1B2E59;
}
.btn-article {
  color: black;
  background-color: #B6DEDE;
  border: 2px solid #70bebe;
}
.btn-article:hover {
  padding-bottom: 8px;
  color: #B6DEDE;
  background-color: black;
}
.article {
  display: flex;
  margin: 10px;
}
.article button {
  padding-bottom: 8px;
}
.article h3 {
  margin-top: 0;
}
/* VIE SCOLAIRE ************************************************************/
.liste-objets {
  position: relative;
}
.liste-objets .button-plus {
  position: absolute;
  top: -25px;
  right: 0;
}
.vie-scolaire,
.administration {
  margin: 20px;
}
.vie-scolaire h2,
.administration h2 {
  color: #AC1738;
}
.vie-scolaire .liste a,
.administration .liste a {
  color: #1B2E59;
  padding-bottom: 10px;
  transition: 0.2s ease border;
  border-top: 0 double #E6DACB;
}
.vie-scolaire .liste a:hover,
.administration .liste a:hover {
  border-top: 10px double #E6DACB;
  background-color: #deceba;
}
.liste {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
}
.liste img {
  margin: 30px 30px 0 30px;
  border: 4px solid #E62651;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transition: 0.5s ease;
}
.sous-convoque {
  text-transform: uppercase;
  text-align: center;
  background-color: #EFE8DF;
  padding: 10px;
  margin: 5px 10px;
}
/* ADMINISTRATION ************************************************************/
.administration p {
  border: 2px solid #B6DEDE;
}
.administration > div > div > p {
  border: 2px solid black;
}
.administration .choix {
  display: flex;
  justify-content: center;
}
.administration .fa {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  margin: 5px 2px 0 2px;
  background-color: #EFE8DF;
  width: 43px;
  height: 43px;
  transition: 0.5s ease;
}
.administration .fa-times {
  color: #a83532;
  border: 2px solid #a83532;
}
.administration .fa-times:hover {
  background-color: #a83532;
  color: #E6DACB;
  border: 2px solid #E6DACB;
}
.administration .fa-check {
  color: #38a85c;
  border: 2px solid #38a85c;
}
.administration .fa-check:hover {
  background-color: #38a85c;
  color: #E6DACB;
  border: 2px solid #E6DACB;
}
.administration .approuver {
  flex-direction: column;
}
.inside {
  flex-direction: column;
}
/* PROFIL ************************************************************/
.profil {
  width: 100%;
  display: flex;
}
.profil img {
  margin: auto;
}
.profil .dates-profil {
  width: 50%;
}
.profil h4 {
  color: #1B2E59;
}
.profil .rs {
  display: flex;
  justify-content: space-between;
}
.profil i {
  color: #1B2E59;
}
.profil i:hover {
  transition: 0.5s ease;
  color: #E62651;
}
.profil .colonne-gauche {
  width: 60%;
}
.profil .colonne-droite {
  width: 40%;
}
.profil > .colonne-gauche > div:nth-child(1) {
  display: flex;
}
/* MEMBRES ************************************************************/
.membres > div {
  display: flex;
  flex-wrap: wrap;
}
