/* Polices ************************************************************/
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
  src: url(../fonts/Raleway/Raleway-Bold.ttf);
  src: url(../fonts/Raleway/Raleway-Light.ttf);
  src: url(../fonts/Raleway/Raleway-Semibold.ttf);
  src: url(../fonts/Raleway/Raleway-Thin.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
/* Couleurs ************************************************************/
/* Global ************************************************************/
* {
  box-sizing: border-box;
}
html {
  font-family: Raleway, sans-serif;
}
body {
  background-color: #1B2E59;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
h1 {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 25px;
  white-space: pre-wrap;
}
h2 {
  margin: 0;
}
input {
  font-family: "Open Sans Semibold", sans-serif;
}
.input {
  border-radius: 5px;
  height: 45px;
  width: 49%;
  margin: 10px 0;
  font-size: 18px;
  color: #9E9E9E;
  border: solid 2px #9E9E9E;
  text-indent: 10px;
}
.bouton {
  transition: 0.5s ease;
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #E62651;
  border: solid 2px #AC1738;
  width: 100%;
  margin: 10px 0;
  padding-top: 8px;
}
.bouton:hover {
  background-color: white;
  color: #E62651;
}
.btn-deco {
  border-radius: 5px;
  height: 45px;
  max-height: 45px;
}
.btn-desactive {
  transition: 0.5s ease;
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 30%;
  height: auto;
  min-height: 45px;
  margin: 10px auto;
  padding: 15px 5px;
  color: black;
  background-color: #9E9E9E;
  border: solid 2px #1f1f1f;
}
/* Pages non-connecté ************************************************************/
.deconnecte {
  background-color: #1B2E59;
  text-align: center;
}
.deconnecte hr {
  width: 40%;
  min-width: 320px;
  margin: 0 auto 0 auto;
}
.logo-home {
  width: 275px;
  margin: 25px auto 20px auto;
}
.logo-mmi {
  width: 60px;
  margin-top: 15px;
}
/* INDEX ************************************************************/
.formulaire-index {
  position: relative;
}
.formulaire-index form {
  margin: 20px auto;
  width: 40%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formulaire-index .input {
  width: 100%;
}
.triangle {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}
.bas {
  bottom: 0;
  right: 0;
  border-bottom: 100vh solid rgba(182, 222, 222, 0.8);
  border-left: 100vw solid transparent;
}
.droite {
  top: 0;
  right: 0;
  border-left: 100vw solid transparent;
}
.gauche {
  top: 0;
  left: 0;
  border-right: 98.9vw solid transparent;
}
.index h1 {
  font-size: 6vw;
  margin-top: 0;
  letter-spacing: 8px;
  text-align: center;
  padding-top: 20px;
}
.index .rond {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.index i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.index p {
  font-family: "Open Sans", sans-serif;
  margin: 0 20px 20px 20px;
  font-size: 16px;
  padding: 10px;
  line-height: 45px;
}
.index > div {
  height: 100vh;
  position: relative;
  z-index: 0;
}
#actus {
  background: url(../medias/background/actus.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#actus h1 {
  color: #E62651;
}
#actus i {
  color: #1B2E59;
}
#actus .rond {
  background: #B6DEDE;
  border: solid 10px #1B2E59;
}
#actus p {
  margin-left: 60%;
  color: black;
  border: solid 5px #E62651;
}
#actus .triangle {
  border-top: 100vh solid rgba(182, 222, 222, 0.8);
}
#events {
  background: url(../medias/background/events.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#events h1 {
  color: #E6DACB;
}
#events i {
  color: #B6DEDE;
}
#events .rond {
  background: #E62651;
  border: solid 10px #B6DEDE;
}
#events p {
  margin-right: 60%;
  color: #F2EEE9;
  border: solid 5px #E6DACB;
}
#events .triangle {
  border-top: 100vh solid rgba(230, 38, 81, 0.8);
}
#edt {
  background: url(../medias/background/edt.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#edt h1 {
  color: #B6DEDE;
}
#edt i {
  color: #F2EEE9;
}
#edt .rond {
  background: #1B2E59;
  border: solid 10px #F2EEE9;
}
#edt p {
  margin-left: 60%;
  color: #F2EEE9;
  border: solid 5px #B6DEDE;
}
#edt .triangle {
  border-top: 100vh solid rgba(27, 46, 89, 0.8);
}
#absences {
  background: url(../medias/background/absences.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#absences h1 {
  color: #1B2E59;
}
#absences i {
  color: #E62651;
}
#absences .rond {
  background: #E6DACB;
  border: solid 10px #E62651;
}
#absences p {
  margin-right: 60%;
  color: black;
  border: solid 5px #1B2E59;
}
#absences .triangle {
  border-top: 100vh solid rgba(239, 232, 223, 0.8);
}
#contact {
  background: url(../medias/background/contact.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#contact h1 {
  color: #E62651;
}
#contact i {
  color: #1B2E59;
}
#contact .rond {
  background: #B6DEDE;
  border: solid 10px #1B2E59;
}
#contact p {
  margin-left: 60%;
  color: black;
  border: solid 5px #E62651;
}
#contact .triangle {
  border-top: 100vh solid rgba(182, 222, 222, 0.8);
}
#objets {
  background: url(../medias/background/objets.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#objets h1 {
  color: #E6DACB;
}
#objets i {
  color: #B6DEDE;
}
#objets .rond {
  background: #E62651;
  border: solid 10px #B6DEDE;
}
#objets p {
  margin-right: 60%;
  color: #F2EEE9;
  border: solid 5px #E6DACB;
}
#objets .triangle {
  border-top: 100vh solid rgba(230, 38, 81, 0.8);
}
/* CHOIX INSCRIPTIONS ************************************************************/
#inscriptions h1 {
  color: white;
  margin: 20px auto 10px auto;
}
#inscriptions i {
  color: #B6DEDE;
}
#inscriptions .choix {
  margin: 10px auto 30px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#inscriptions .choix > div {
  display: flex;
  justify-content: space-around;
}
#inscriptions .bouton {
  text-align: center;
  width: 30%;
  height: auto;
  min-height: 45px;
  margin: 10px auto;
  padding: 15px 5px;
  color: white;
  background-color: #E62651;
  border: solid 2px #AC1738;
}
#inscriptions .bouton:hover {
  background-color: white;
  color: #E62651;
}
/* FORMULAIRE INSCRIPTION ************************************************************/
#formulaire-inscription h1 {
  color: white;
  margin: 20px auto 10px auto;
}
#formulaire-inscription form {
  margin: 10px auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#formulaire-inscription input:nth-child(5) {
  width: 100%;
}
