<div ng-controller="AjoutEventController">
        <h1>Ajouter évenement</h1>

        <hr>

        <p class="explications">
            Les champs marqués par le symbole * doivent être obligatoirement renseignés.<br/>
            Tous le monde peut proposer son événement, cependant, pour obtenir l'approbation officielle du département, vous devrez discuter avec l'administration, développer le projet...
            Lorsque l'administration reconnaitra votre évènement comme correct et réalisable, l'administration publiera votre événement.
        </p>

        <form ng-submit="AjoutEvent(event, file)" enctype="multipart/form-data" id="ajout-actualite">
            <div>
                <input ng-model="event.titre" class="ajout" title="titre" type="text" placeholder="Nom de l'événement"/>
                <textarea ng-model="event.desc" class="ajout" title="description" id="" cols="30" rows="12" placeholder="Description de l'événement"></textarea>
            </div>
            <div>
                <input ng-model="event.responsables" class="ajout" title="auteur" type="text" placeholder="Auteur de l'actualité"/>
                <input ng-model="event.date" id="datepicker" class="ajout" title="date" type="text" placeholder="Date"/>
                <input ng-model="file" name="file" ngf-select
                       accept="image/*"
                       class="ajout" title="image" type="file" file-input="files"
                       placeholder="Image : choisissez un fichier"/>
                <input ng-model="event.prix" class="ajout" title="prix" type="text" placeholder="Prix"/>
                <input ng-model="event.a_prevoir" class="ajout" title="image" type="text" placeholder="A prévoir"/>

                <input type="submit" class="bouton" title="submit" value="Soumettre">
            </div>
        </form>
</div>