<div ng-controller="ModifEventController">

<h1>Modifier évenement</h1>

<hr>

<form ng-submit="AjoutActu(actu, file)" enctype="multipart/form-data" id="ajout-actualite" name="formulaire" novalidate>
    <div>

        <input required ng-minlength="3" ng-maxlength="64" name="titre" ng-model="actu.titre" class="ajout" title="titre" type="text" placeholder="{{message.liste.oui.titre}}"/>
        <div ng-messages="formulaire.titre.$error" ng-messages-include="msg.html"></div>

        <textarea required ng-minlength="10" ng-maxlength="200" name="contenu" ng-model="actu.desc" class="ajout" title="description" id="" cols="30" rows="10" placeholder="{{message.liste.oui.contenu}}"></textarea>
        <div ng-messages="formulaire.contenu.$error" ng-messages-include="msg.html"></div>

    </div>
    <div>
        <input ng-minlength="3" ng-maxlength="64" name="date" required ng-model="actu.date" class="ajout" title="date" type="text" placeholder="{{message.liste.oui.date_debut | date}}"/>
        <div ng-messages="formulaire.date.$error" ng-messages-include="msg.html"></div>

        <input required ng-model="file" name="file" ngf-select
               accept="image/*"
               class="ajout" title="image" type="file" file-input="files"
               placeholder="{{message.liste.oui.image}}"/>
        <div ng-messages="formulaire.file.$error" ng-messages-include="msg.html"></div>

        <input ng-minlength="1" ng-maxlength="3" ng-pattern="/[0-9]{1,3}/" required name="prix" ng-model="actu.prix" class="ajout" title="prix" type="text" placeholder="{{message.liste.oui.prix}}"/>
        <div ng-messages="formulaire.prix.$error" ng-messages-include="msg.html"></div>

        <input ng-minlength="3" ng-maxlength="64" required name="prevoir" ng-model="actu.a_prevoir" class="ajout" title="image" type="text" placeholder="{{message.liste.oui.a_prevoir}}"/>
        <div ng-messages="formulaire.prevoir.$error" ng-messages-include="msg.html"></div>

        <input type="submit" class="bouton" title="submit" value="Modifier" ng-disabled="formulaire.$invalid">
    </div>
</form>

</div>