<div ng-controller="ModifEventController">

<h1>Modifier évenement</h1>

<hr>

<form ng-submit="AjoutActu(actu, file)" enctype="multipart/form-data" id="ajout-actualite">
    <div>
        <input name="titre" ng-model="actu.titre" class="ajout" title="titre" type="text" placeholder="{{message.liste.oui.titre}}"/>
        <textarea name="contenu" ng-model="actu.desc" class="ajout" title="description" id="" cols="30" rows="10" placeholder="{{message.liste.oui.contenu}}"></textarea>
    </div>
    <div>
        <input ng-model="actu.date" class="ajout" title="date" type="text" placeholder="{{message.liste.oui.date_debut | date}}"/>
        <input ng-model="file" name="file" ngf-select
               accept="image/*"
               class="ajout" title="image" type="file" file-input="files"
               placeholder="{{message.liste.oui.image}}"/>
        <input ng-model="actu.prix" class="ajout" title="prix" type="text" placeholder="{{message.liste.oui.prix}}"/>
        <input ng-model="actu.a_prevoir" class="ajout" title="image" type="text" placeholder="{{message.liste.oui.a_prevoir}}"/>

        <input type="submit" class="bouton" title="submit" value="Modifier">
    </div>
</form>

</div>