<div ng-controller="AdminController" class="mainAdmin">
    <h1>Administration</h1>

    <hr>

    <div class="administration">
        <h2>Utilisateurs à approuver</h2>
        <p class="explications">
            Ces utilisateurs se sont inscrits sur le site, cependant ils attendent votre approbation afin de pouvoir
            utiliser leurs identifiants. Affichez d'abord le profil du candidat, vérifiez ses informations et levez
            tout doutes sur son identité. Il ne vous reste qu'à presser le bouton APPROUVER !
        </p>

        <div class="liste membres convocations fond-article">
            <p ng-repeat="membre in membres.liste" ng-if="membre.approuve == 0" class="sous-convoque">{{membre.date_inscription | date}} | {{membre.prenom}} {{membre.nom}}</p>

        </div>

        <h2>Évenements à approuver</h2>

        <p class="explications">
            Les événements pouvant être proposés par n'importe quel utilisateur, vous êtes responsable de
            l'approbation de ceux-ci. N'hésitez pas à consulter les responsables de l'évènement.
        </p>
        <div class="liste evenements fond-article">
            <div ng-repeat="events in events.liste" ng-if="events.approuve == 0" class="inside">
                <img  src="medias/uploads/evenements/{{events.image}}" alt="{{events.image}}">
                <p class="sous-convoque">{{events.titre}}</p>
            </div>
        </div>
    </div>
</div>