<div ng-controller="AjoutActuController">

<h1>Ajouter actualité</h1>

        <hr>

        <p class="explications">
            Les champs marqués par le symbole * doivent être obligatoirement renseignés.
            <br/>
            Le champ "Source de l'information" peut être une URL ou une personne/organisation.
        </p>

        <form ng-submit="AjoutActu(actu)" id="ajout-actualite" enctype="multipart/form-data">
            <div>
                <input ng-model="actu.titre" class="ajout" title="titre" type="text" placeholder="Titre de l'actualité"/>
                <textarea ng-model="actu.desc" class="ajout" title="description" id="" cols="30" rows="10" placeholder="Description de l'actualité"></textarea>
            </div>
           <div>
               <input ng-model="actu.responsables" class="ajout" title="auteur" type="text" placeholder="Auteur de l'actualité"/>
               <input ngf-select="uploadFiles($file, $invalidFiles)"
                      accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"
                      class="ajout" title="image" type="file" file-input="files"
                      placeholder="Image : choisissez un fichier"/>

               <h3>Appliquer la mention "urgent"?</h3>

               <div class="boutons-radio">
                  <input type="radio" ng-model="actu.urgent" value="1" id="rad1">
                  <label id="radio1" class="label" for="rad1">Oui</label>
                  <input type="radio" ng-model="actu.urgent" value="0" id="rad2">
                  <label id="radio2" class="label" for="rad2">Non</label>
               </div>


               <input ng-click="uploadFile()" type="submit" class="bouton" title="submit" value="Soumettre">
           </div>
        </form>
</div>