<div ng-controller="AjoutActuController">

<h1>Ajout actualité</h1>

        <hr>

        <p class="explications">
            Les champs marqués par le symbole * doivent être obligatoirement renseignés.
            <br/>
            Le champ "Source de l'information" peut être une URL ou une personne/organisation.
        </p>

        <form name="formulaire" ng-submit="AjoutActu(actu, file)" id="ajout-actualite" enctype="multipart/form-data" novalidate>
            <div>
                <input required name="titre" ng-model="actu.titre" class="ajout" title="titre" type="text" ng-minlength="3" ng-maxlength="64" placeholder="Titre de l'actualité*"/>
                <div ng-messages="formulaire.titre.$error" style="color:red" ng-messages-include="msg.html"></div>

                <textarea ng-minlength="10" ng-maxlength="200" required name="contenu" ng-model="actu.desc" class="ajout" title="description" id="" cols="30" rows="10" placeholder="Description de l'actualité*"></textarea>
                <div ng-messages="formulaire.contenu.$error" style="color:red" ng-messages-include="msg.html"></div>
            </div>
           <div>
               <input ng-minlength="3" ng-maxlength="64" required name="responsable" ng-model="actu.responsables" class="ajout" title="auteur" type="text" placeholder="Auteur de l'actualité*"/>
               <div ng-messages="formulaire.responsable.$error" style="color:red" ng-messages-include="msg.html"></div>

               <input ng-model="file" required name="file" ngf-select
                      accept="image/*"
                      class="ajout" title="image" type="file" file-input="files"
                      placeholder="Image : choisissez un fichier*"/>
               <div ng-messages="formulaire.file.$error" style="color:red" ng-messages-include="msg.html"></div>

               <h3>Appliquer la mention "urgent"?*</h3>

               <div class="boutons-radio">
                  <input required name="urgent" type="radio" ng-model="actu.urgent" value="1" id="rad1">
                  <label id="radio1" class="label" for="rad1">Oui</label>
                  <input required name="urgent" type="radio" ng-model="actu.urgent" value="0" id="rad2">
                  <label id="radio2" class="label" for="rad2">Non</label>
               </div>
               <div ng-messages="formulaire.urgent.$error" style="color:red" ng-messages-include="msg.html"></div>


               <input ng-disabled="formulaire.$invalid" type="submit" class="bouton" title="submit" value="Soumettre">
           </div>
        </form>
</div>