<h1>Actualités</h1>
<a href="#/actualite/ajout" class="button-plus">
    <i class="fa fa-plus-square fa-5x" aria-hidden="true"></i>
</a>

<hr>


<div ng-repeat="liste in donnees.liste" class="liste-actu" ng-if="liste.urgent == 1">
    <a href="#/actualite?id={{liste.id}}">
        <div class="actu principale">
            <img src="medias/uploads/actualites/{{liste.image}}" alt="Homme Espace">
            <span>{{liste.date_debut | date }}</span>
            <h2>{{liste.titre}}</h2>
        </div>
    </a>
</div>

<div class="liste-actu">
    <a ng-repeat="liste in donnees.liste" href="#/actualite?id={{liste.id}}">
        <div class="actu secondaire">
            <img src="medias/uploads/actualites/{{liste.image}}" alt="Homme Espace">
            <span>{{liste.date_debut | date : "dd MMM" }}</span>
            <h2>{{liste.titre}}</h2>
        </div>
    </a>
</div>