<div class="index deconnecte">
    <div class="formulaire-index">
        <a href="#/"><img class="logo-home" src="medias/interface/logos/logo_dom_home.png" alt="Logo DOM MMI"></a>
        <hr>
        <form ng-submit="connectUser(user)">
            <input ng-model="user.log" title="id" type="text" placeholder="Identifiant" />
            <input ng-model="user.lepsw" title="psw" type="password" placeholder="Mot de passe" />
            <input type="submit" class="bouton btn-deco" href="pages/actualites.html" value="Connexion"/>
            <a class="bouton btn-deco" href="#/inscription">Inscription</a>
            {{message}}
        </form>
        <hr>
        <a href="http://mmimontbeliard.com"><img class="logo-mmi" src="medias/interface/logos/mmi.png" alt="Logo MMI Montbéliard"></a>
        <div class="triangle bas"></div>
    </div>

    <div id="actus">
        <div class="filtre">
            <h1>Actualités</h1>
            <div class="rond">
                <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
            </div>
            <p class="actu-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur culpa
                cupiditate, deleniti dignissimos ea eos explicabo illum nisi nobis nostrum officia officiis omnis, porro
                quasi sequi suscipit tempora veniam?</p>
        </div>
        <div class="triangle droite"></div>
    </div>

    <div id="events">
        <div class="filtre">
            <h1>Événements</h1>
            <div class="rond">
                <i class="fa fa-star fa-3x" aria-hidden="true"></i>
            </div>
            <p class="actu-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur culpa
                cupiditate, deleniti dignissimos ea eos explicabo illum nisi nobis nostrum officia officiis omnis, porro
                quasi sequi suscipit tempora veniam?</p>
        </div>
        <div class="triangle gauche"></div>
    </div>

    <div id="edt">
        <div class="filtre">
            <h1>Emploi
                du temps</h1>
            <div class="rond">
                <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
            </div>
            <p class="actu-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur culpa
                cupiditate, deleniti dignissimos ea eos explicabo illum nisi nobis nostrum officia officiis omnis, porro
                quasi sequi suscipit tempora veniam?</p>
        </div>
        <div class="triangle droite"></div>
    </div>

    <div id="absences">
        <div class="filtre">
            <h1>Absences</h1>
            <div class="rond">
                <i class="fa fa-user-times fa-3x" aria-hidden="true"></i>
            </div>
            <p class="actu-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur culpa
                cupiditate, deleniti dignissimos ea eos explicabo illum nisi nobis nostrum officia officiis omnis, porro
                quasi sequi suscipit tempora veniam?</p>
        </div>
        <div class="triangle gauche"></div>
    </div>

    <div id="contact">
        <div class="filtre">
            <h1>Contact</h1>
            <div class="rond">
                <i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i>
            </div>
            <p class="actu-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur culpa
                cupiditate, deleniti dignissimos ea eos explicabo illum nisi nobis nostrum officia officiis omnis, porro
                quasi sequi suscipit tempora veniam?</p>
        </div>
        <div class="triangle droite"></div>
    </div>

    <div id="objets">
        <div class="filtre">
            <h1>Objets
                perdus</h1>
            <div class="rond">
                <i class="fa fa-unlink fa-3x" aria-hidden="true"></i>
            </div>
            <p class="actu-home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur culpa
                cupiditate, deleniti dignissimos ea eos explicabo illum nisi nobis nostrum officia officiis omnis, porro
                quasi sequi suscipit tempora veniam?</p>
        </div>
        <div class="triangle gauche"></div>
    </div>
</div>