../.idea/encodings.xml
                      .idea/scopes/scope_settings.xml
                      .idea/workspace.xml
                      .idea/misc.xml
                      .idea/watcherTasks.xml